<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SERVER" value="irc.lazyadmin.org" />
    <add key="PORT" value="6667" />
    <add key="USER" value="USER bot 0 * :I am a bot" />
    <add key="NICK" value="bot" />
    <add key="CHANNEL" value="#test" />
    <add key="NSATRIGGER" value="mag|shot"/>
    <!--<add key="SERVER" value="irc.lazyadmin.org" />
    <add key="PORT" value="6667" />
    <add key="USER" value="USER nsabot 0 * :I am a bot" />
    <add key="NICK" value="nsabot" />
    <add key="CHANNEL" value="#chat" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>